*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Home Page*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/ngee-ann-poly.jfif);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header-title p{
    color: white;
    font-size: 28px;
    letter-spacing: 1.5px;
    padding-bottom: 20px;
}
.sch-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
}
a:hover{
    text-decoration: none;
    background-color: white;
}