*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav #navbarNav{
    display: flex;
    justify-content: end;
}

/*Home Page*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/ngee-ann-poly.jfif);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header-title p{
    color: white;
    font-size: 28px;
    letter-spacing: 1.5px;
    padding-bottom: 20px;
}
.sch-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
}
.sch-btn:hover{
    text-decoration: none;
    color: black;
    background-color: white;
}

.schs{
    width: 100%;
    padding: 70px 0;
    text-align: center;
    margin: auto;
    background: rgb(233, 233, 246);
}
.schs h2{
    font-size: 48px;
}
.sch-box{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.sch-col{
    flex-basis: 38%;
    box-sizing: border-box;
}
.sch-col img{
    width: 88%;
    margin: 10%;
    border-radius: 10px;
    transition: 0.5s;
}
.sch-col-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ba-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(178,8,55)
}
#de-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(194,213,0)
}
#soe-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(0,138,174)
}
#hms-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(253,187,47)
}
#hs-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(4,121,53)
}
#fms-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(172,32,141)
}
#ict-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(114,34,131)
}
#lsct-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(250,66,56)
}

.sch-quizbox{
    background-color: rgb(140,138,164);
    width: 100%;
    padding: 20px 0px 50px;
    text-align: center;
}
.sch-quizbox h2{
    font-size: 52px;
    padding: 20px 20px;
}
.quiz-btn{
    color: black;
    display: inline-block;
    text-decoration: none;
    background: white;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 3px;
}
.quiz-btn:hover{
    text-decoration: none;
    color: black;
    box-shadow: 10px 10px 0px 0px rgb(194, 193, 221)
}