*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    padding: 20px;
    text-align: center;
}

html, body {
    width: 100%;
    height:100%;
    padding:0;
    margin:0;
    overflow-x: hidden;
    scroll-behavior: smooth;
   }

/*Home Page*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/ngee-ann-poly.jfif);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header-title p{
    color: white;
    font-size: 28px;
    letter-spacing: 1.5px;
    padding-bottom: 20px;
}
.sch-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
}
.sch-btn:hover{
    text-decoration: none;
    color: black;
    background-color: white;
}

.schs{
    width: 100%;
    padding: 70px 0;
    text-align: center;
    margin: auto;
    background: rgb(233, 233, 246);
}
.schs h2{
    font-size: 50px;
    font-family: 'Roboto', 'sans-serif';
    color: #484258;
}
.sch-box{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.sch-col-inner img{
    width: 88%;
    margin: 10%;
    border-radius: 10px;
    transition: 0.5s;
}

#ba-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(178,8,55)
}
#de-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(194,213,0)
}
#soe-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(0,138,174)
}
#hms-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(253,187,47)
}
#hs-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(4,121,53)
}
#fms-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(172,32,141)
}
#ict-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(114,34,131)
}
#lsct-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(250,66,56)
}

.sch-quizbox{
    background-color: rgb(140,138,164);
    width: 100%;
    padding: 20px 0px 50px;
    text-align: center;
}
.sch-quizbox h2{
    font-size: 45px;
    padding: 20px 20px;
    font-family: 'Roboto','sans-serif';
}
#quiz-btn{
    color: black;
    display: inline-block;
    text-decoration: none;
    background: white;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 3px;
}
#quiz-btn:hover{
    text-decoration: none;
    color: black;
    box-shadow: 10px 10px 0px 0px rgb(194, 193, 221)
}

/*BA PAGE*/
.ba-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(78, 87, 107, 0.7),rgba(3, 9, 34, 0.7)),url(images/BA/ba-sch.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.ba-header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.ba-header-title2{
    background: white;
    color: #d20a0d;
    box-shadow: 8px 8px 0px 0px #d20a0d;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.ba-header-title2 h1{
    padding: 0px 15px 10px 15px;
    font-size: 55px;
}
.ba-header-title2 h2{
    padding: 10px 0px 0px 0px;
    font-size: 40px;
}
.ba-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 5px;
}
.ba-btn:hover{
    text-decoration: none;
    color: #d20a0d;
    background-color: white;
    box-shadow:0px 8px 0px 0px #d20a0d;
}

.ba-courses{
    background-color: rgb(244,244,244);
    width: 100%;
    padding: 70px 100px;
    text-align: center;
    margin: auto;
}
.ba-courses h3{
    color: #d20a0d;
    font-family: 'Roboto', 'sans-serif';
    font-size: 40px;
    padding-bottom: 50px;
}
.ba-courses-box{
    display: flex;
    flex-direction: column;
}
.ba-courses-item{
    display: flex;
    flex-basis: 28%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 30px;
    box-sizing: border-box;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 50px;
}
.ba-courses img{
    height: 250px;
    border-radius: 10px;
}
.ba-courses-text{
    padding-left: 30px;
}
.ba-courses-text h4{
    font-size: 30px;
    padding-bottom: 10px;
}
.ba-courses-text p{
    font-size: 18px;
}
.ba-courses-item:hover{
    background-color: white;
    box-shadow:15px 15px 0px 0px #d20a0d;
}
.ba-dip-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    background: #d20a0d;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 10px;
}
.ba-dip-btn:hover{
    color: white;
}

/*DE PAGE*/
.de-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(78, 87, 107, 0.7),rgba(3, 9, 34, 0.7)),url(images/DE/de-sch.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.de-header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.de-header-title2{
    background: white;
    color: #92d162;
    box-shadow: 8px 8px 0px 0px #92d162;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.de-header-title2 h1{
    padding: 0px 15px 10px 15px;
    font-size: 55px;
}
.de-header-title2 h2{
    padding: 10px 0px 0px 0px;
    font-size: 40px;
}
.de-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 5px;
}
.de-btn:hover{
    text-decoration: none;
    color: #92d162;
    background-color: white;
    box-shadow:0px 8px 0px 0px #92d162;
}

.de-courses{
    background-color: rgb(244,244,244);
    width: 100%;
    padding: 70px 100px;
    text-align: center;
    margin: auto;
}
.de-courses h3{
    color: #92d162;
    font-family: 'Roboto', 'sans-serif';
    font-size: 40px;
    padding-bottom: 50px;
}
.de-courses-box{
    display: flex;
    flex-direction: column;
}
.de-courses-item{
    display: flex;
    flex-basis: 28%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 30px;
    box-sizing: border-box;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 50px;
}
.de-courses img{
    height: 250px;
    border-radius: 10px;
}
.de-courses-text{
    padding-left: 30px;
}
.de-courses-text h4{
    font-size: 30px;
    padding-bottom: 10px;
}
.de-courses-text p{
    font-size: 18px;
}
.de-courses-item:hover{
    background-color: white;
    box-shadow:15px 15px 0px 0px #92d162;
}
.de-dip-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    background: #92d162;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 10px;
}
.de-dip-btn:hover{
    color: white;
}

/*HS PAGE*/
.hs-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(78, 87, 107, 0.7),rgba(3, 9, 34, 0.7)),url(images/HS/hs-sch.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.hs-header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hs-header-title2{
    background: white;
    color: #007f78;
    box-shadow: 8px 8px 0px 0px #007f78;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.hs-header-title2 h1{
    padding: 0px 15px 10px 15px;
    font-size: 55px;
}
.hs-header-title2 h2{
    padding: 10px 0px 0px 0px;
    font-size: 40px;
}
.hs-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 5px;
}
.hs-btn:hover{
    text-decoration: none;
    color: #007f78;
    background-color: white;
    box-shadow:0px 8px 0px 0px #007f78;
}

.hs-courses{
    background-color: rgb(244,244,244);
    width: 100%;
    padding: 70px 100px;
    text-align: center;
    margin: auto;
}
.hs-courses h3{
    color: #007f78;
    font-family: 'Roboto', 'sans-serif';
    font-size: 40px;
    padding-bottom: 50px;
}
.hs-courses-box{
    display: flex;
    flex-direction: column;
}
.hs-courses-item{
    display: flex;
    flex-basis: 28%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 30px;
    box-sizing: border-box;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 50px;
}
.hs-courses img{
    height: 250px;
    border-radius: 10px;
}
.hs-courses-text{
    padding-left: 30px;
}
.hs-courses-text h4{
    font-size: 30px;
    padding-bottom: 10px;
}
.hs-courses-text p{
    font-size: 18px;
}
.hs-courses-item:hover{
    background-color: white;
    box-shadow:15px 15px 0px 0px #007f78;
}
.hs-dip-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    background: #007f78;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 10px;
}
.hs-dip-btn:hover{
    color: white;
}

/*FMS PAGE*/
.fms-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(78, 87, 107, 0.7),rgba(3, 9, 34, 0.7)),url(images/FMS/fms-sch.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.fms-header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.fms-header-title2{
    background: white;
    color: #b43ad6 ;
    box-shadow: 8px 8px 0px 0px #b43ad6 ;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.fms-header-title2 h1{
    padding: 0px 15px 10px 15px;
    font-size: 55px;
}
.fms-header-title2 h2{
    padding: 10px 0px 0px 0px;
    font-size: 40px;
}
.fms-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 5px;
}
.fms-btn:hover{
    text-decoration: none;
    color: #b43ad6 ;
    background-color: white;
    box-shadow:0px 8px 0px 0px #b43ad6 ;
}

.fms-courses{
    background-color: rgb(244,244,244);
    width: 100%;
    padding: 70px 100px;
    text-align: center;
    margin: auto;
}
.fms-courses h3{
    color: #b43ad6 ;
    font-family: 'Roboto', 'sans-serif';
    font-size: 40px;
    padding-bottom: 50px;
}
.fms-courses-box{
    display: flex;
    flex-direction: column;
}
.fms-courses-item{
    display: flex;
    flex-basis: 28%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 30px;
    box-sizing: border-box;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 50px;
}
.fms-courses img{
    height: 250px;
    border-radius: 10px;
}
.fms-courses-text{
    padding-left: 30px;
}
.fms-courses-text h4{
    font-size: 30px;
    padding-bottom: 10px;
}
.fms-courses-text p{
    font-size: 18px;
}
.fms-courses-item:hover{
    background-color: white;
    box-shadow:15px 15px 0px 0px #b43ad6 ;
}
.fms-dip-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    background: #b43ad6 ;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 10px;
}
.fms-dip-btn:hover{
    color: white;
}

/*ICT PAGE*/
.ict-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(78, 87, 107, 0.7),rgba(3, 9, 34, 0.7)),url(images/ICT/ict-sch.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.ict-header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.ict-header-title2{
    background: white;
    color: #87458b ;
    box-shadow: 8px 8px 0px 0px #87458b ;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.ict-header-title2 h1{
    padding: 0px 15px 10px 15px;
    font-size: 55px;
}
.ict-header-title2 h2{
    padding: 10px 0px 0px 0px;
    font-size: 40px;
}
.ict-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 5px;
}
.ict-btn:hover{
    text-decoration: none;
    color: #87458b ;
    background-color: white;
    box-shadow:0px 8px 0px 0px #87458b ;
}

.ict-courses{
    background-color: rgb(244,244,244);
    width: 100%;
    padding: 70px 100px;
    text-align: center;
    margin: auto;
}
.ict-courses h3{
    color: #87458b ;
    font-family: 'Roboto', 'sans-serif';
    font-size: 40px;
    padding-bottom: 50px;
}
.ict-courses-box{
    display: flex;
    flex-direction: column;
}
.ict-courses-item{
    display: flex;
    flex-basis: 28%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 30px;
    box-sizing: border-box;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 50px;
}
.ict-courses img{
    height: 250px;
    border-radius: 10px;
}
.ict-courses-text{
    padding-left: 30px;
}
.ict-courses-text h4{
    font-size: 30px;
    padding-bottom: 10px;
}
.ict-courses-text p{
    font-size: 18px;
}
.ict-courses-item:hover{
    background-color: white;
    box-shadow:15px 15px 0px 0px #87458b ;
}
.ict-dip-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    background: #87458b ;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 10px;
}
.ict-dip-btn:hover{
    color: white;
}

/*LSCT PAGE*/
.lsct-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(78, 87, 107, 0.7),rgba(3, 9, 34, 0.7)),url(images/LSCT/lsct-sch.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.lsct-header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.lsct-header-title2{
    background: white;
    color: #f18560  ;
    box-shadow: 8px 8px 0px 0px #f18560  ;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.lsct-header-title2 h1{
    padding: 0px 15px 10px 15px;
    font-size: 55px;
}
.lsct-header-title2 h2{
    padding: 10px 0px 0px 0px;
    font-size: 40px;
}
.lsct-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 5px;
}
.lsct-btn:hover{
    text-decoration: none;
    color: #f18560  ;
    background-color: white;
    box-shadow:0px 8px 0px 0px #f18560  ;
}

.lsct-courses{
    background-color: rgb(244,244,244);
    width: 100%;
    padding: 70px 100px;
    text-align: center;
    margin: auto;
}
.lsct-courses h3{
    color: #f18560  ;
    font-family: 'Roboto', 'sans-serif';
    font-size: 40px;
    padding-bottom: 50px;
}
.lsct-courses-box{
    display: flex;
    flex-direction: column;
}
.lsct-courses-item{
    display: flex;
    flex-basis: 28%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 30px;
    box-sizing: border-box;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 50px;
}
.lsct-courses img{
    height: 250px;
    border-radius: 10px;
}
.lsct-courses-text{
    padding-left: 30px;
}
.lsct-courses-text h4{
    font-size: 30px;
    padding-bottom: 10px;
}
.lsct-courses-text p{
    font-size: 18px;
}
.lsct-courses-item:hover{
    background-color: white;
    box-shadow:15px 15px 0px 0px #f18560  ;
}
.lsct-dip-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    background: #f18560  ;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 10px;
}
.lsct-dip-btn:hover{
    color: white;
}
/*HMS PAGE*/
.hms-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(78, 87, 107, 0.7),rgba(3, 9, 34, 0.7)),url(images/HMS/hms-sch.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.hms-header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hms-header-title2{
    background: white;
    color: #fcbc1c;
    box-shadow: 8px 8px 0px 0px #fcbc1c;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.hms-header-title2 h1{
    padding: 0px 15px 10px 15px;
    font-size: 55px;
}
.hms-header-title2 h2{
    padding: 10px 0px 0px 0px;
    font-size: 40px;
}
.hms-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 5px;
}
.hms-btn:hover{
    text-decoration: none;
    color: #fcbc1c;
    background-color: white;
    box-shadow:0px 8px 0px 0px #fcbc1c;
}

.hms-courses{
    background-color: rgb(244,244,244);
    width: 100%;
    padding: 70px 100px;
    text-align: center;
    margin: auto;
}
.hms-courses h3{
    color: #fcbc1c;
    font-family: 'Roboto', 'sans-serif';
    font-size: 40px;
    padding-bottom: 50px;
}
.hms-courses-box{
    display: flex;
    flex-direction: column;
}
.hms-courses-item{
    display: flex;
    flex-basis: 28%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 30px;
    box-sizing: border-box;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 50px;
}
.hms-courses img{
    height: 250px;
    border-radius: 10px;
}
.hms-courses-text{
    padding-left: 30px;
}
.hms-courses-text h4{
    font-size: 30px;
    padding-bottom: 10px;
}
.hms-courses-text p{
    font-size: 18px;
}
.hms-courses-item:hover{
    background-color: white;
    box-shadow:15px 15px 0px 0px #fcbc1c;
}
.hms-dip-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    background: #fcbc1c;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 10px;
}
.hms-dip-btn:hover{
    color: white;
}

/*SOE PAGE*/
.soe-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(78, 87, 107, 0.7),rgba(3, 9, 34, 0.7)),url(images/HMS/hms-sch.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.soe-header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.soe-header-title2{
    background: white;
    color: #0099ff;
    box-shadow: 8px 8px 0px 0px #0099ff;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.soe-header-title2 h1{
    padding: 0px 15px 10px 15px;
    font-size: 55px;
}
.soe-header-title2 h2{
    padding: 10px 0px 0px 0px;
    font-size: 40px;
}
.soe-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 5px;
}
.soe-btn:hover{
    text-decoration: none;
    color: #0099ff;
    background-color: white;
    box-shadow:0px 8px 0px 0px #0099ff;
}

.soe-courses{
    background-color: rgb(244,244,244);
    width: 100%;
    padding: 70px 100px;
    text-align: center;
    margin: auto;
}
.soe-courses h3{
    color: #0099ff;
    font-family: 'Roboto', 'sans-serif';
    font-size: 40px;
    padding-bottom: 50px;
}
.soe-courses-box{
    display: flex;
    flex-direction: column;
}
.soe-courses-item{
    display: flex;
    flex-basis: 28%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 30px;
    box-sizing: border-box;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 50px;
}
.soe-courses img{
    height: 250px;
    border-radius: 10px;
}
.soe-courses-text{
    padding-left: 30px;
}
.soe-courses-text h4{
    font-size: 30px;
    padding-bottom: 10px;
}
.soe-courses-text p{
    font-size: 18px;
}
.soe-courses-item:hover{
    background-color: white;
    box-shadow:15px 15px 0px 0px #0099ff;
}
.soe-dip-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    background: #0099ff;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 10px;
}
.soe-dip-btn:hover{
    color: white;
}

/* Contact Page */
i.bi{
    font-size: 35px;
    margin: 40px;
}
#contact div.col{
    padding: 30px;
}

table{
    border-collapse: collapse;
    width: 100%;
    border-radius: 15px;
    overflow:hidden;
}
table th {
    font-size: 18px;
    text-align: left;
    padding: 20px 20px 20px 20px;
}
table tr th{
    text-align: center;
}

/* Quiz Page */
.col.d-flex.justify-content-center{
    padding-bottom: 40px;
}
.card:hover{
    box-shadow:15px 15px 0px 0px#0ACAF0;
}

/* Quiz 1 */

/* Quiz 2 */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

/*Quiz Display*/
#quiz h1 {
    font-size: 70px;
    margin-bottom: 5rem;
}
.choice-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
    border-radius: 4px;
    background-color: rgb(18,93,255);
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    color: white;
    padding: 2rem;
    width: 100%;
}

.correct {
    background-color: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41,232,111) 100%);
}

.incorrect {
    background-color: linear-gradient(32deg, rgba(230, 29, 29,1) 0%, rgb(224,11,11,1) 100%);
}

#quiz-body{
    display: flex;
    justify-content: space-between;
}

.quiz-prefix {
    text-align: center;
    font-size: 2rem;
}

.quiz-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11,223,36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11, 223, 36);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}

/*Loading Page*/
.animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer {
    background-color: black;
}

footer img{
    width: 300px;
    height: auto;
    padding: 30px;
}

footer .bi{
    color: white;
    font-size: 35px;
    margin: 40px;
}
footer .col-2{
    padding: 30px;
}

footer p{
    color: white;
}

/*Responsive*/
@media (max-width: 1230px){
    .ba-courses{
        padding: 70px 200px;
    }
    .ba-courses-item{
        flex-direction: column;
    }
    .ba-courses img{
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }
    .ba-courses-text{
        padding-left: 0px;
    }

    .de-courses{
        padding: 70px 200px;
    }
    .de-courses-item{
        flex-direction: column;
    }
    .de-courses img{
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }
    .de-courses-text{
        padding-left: 0px;
    }

    .soe-courses{
        padding: 70px 200px;
    }
    .soe-courses-item{
        flex-direction: column;
    }
    .soe-courses img{
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }
    .soe-courses-text{
        padding-left: 0px;
    }

    .hms-courses{
        padding: 70px 200px;
    }
    .hms-courses-item{
        flex-direction: column;
    }
    .hms-courses img{
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }
    .hms-courses-text{
        padding-left: 0px;
    }

    .hs-courses{
        padding: 70px 200px;
    }
    .hs-courses-item{
        flex-direction: column;
    }
    .hs-courses img{
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }
    .hs-courses-text{
        padding-left: 0px;
    }

    .fms-courses{
        padding: 70px 200px;
    }
    .fms-courses-item{
        flex-direction: column;
    }
    .fms-courses img{
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }
    .fms-courses-text{
        padding-left: 0px;
    }
    
    .ict-courses{
        padding: 70px 200px;
    }
    .ict-courses-item{
        flex-direction: column;
    }
    .ict-courses img{
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }
    .ict-courses-text{
        padding-left: 0px;
    }

    .lsct-courses{
        padding: 70px 200px;
    }
    .lsct-courses-item{
        flex-direction: column;
    }
    .lsct-courses img{
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }
    .lsct-courses-text{
        padding-left: 0px;
    }
}

@media (max-width: 991px){
    .header-title img{
        width: 700px;
        height: auto;
    }
    .header-title p{
        font-size: 24px;
    }
    .sch-btn{
        font-size: 20px;
    }
    .schs h2{
        font-size: 43px;
    }
    .sch-box{
        margin-top: 3%;
        flex-direction: column;
    }
    .sch-col-inner img{
        width: 38%;
        margin: 4%;
    }
    .sch-quizbox h2{
        font-size: 40px;
    }
    #quiz-btn{
        font-size: 23px;
    }
}

@media (max-width: 883px){
    .ba-courses{
        padding: 70px 100px;
    }

    .de-courses{
        padding: 70px 100px;
    }

    .soe-courses{
        padding: 70px 100px;
    }
    
    .hms-courses{
        padding: 70px 100px;
    }

    .hs-courses{
        padding: 70px 100px;
    }

    .fms-courses{
        padding: 70px 100px;
    }

    .ict-courses{
        padding: 70px 100px;
    }
    
    .lsct-courses{
        padding: 70px 100px;
    }
}

@media (max-width: 742px){
    .header-title img{
        width: 550px;
    }
}

@media (max-width: 558px){
    .header-title img{
        width: 450px;
    }
    .header-title p{
        font-size: 20px;
    }
    .sch-btn{
        font-size: 18px;
    }
    .schs h2{
        font-size: 35px;
    }
    .sch-col-inner img{
        width: 60%;
        margin: 4%;
    }
    .sch-quizbox h2{
        font-size: 30px;
    }
    #quiz-btn{
        font-size: 18px;
    }

    .ba-header-title2 h1{
        padding: 0px 35px 10px 35px;
        font-size: 45px;
    }
    .ba-header-title2 h2{
        font-size: 30px;
    }
    .ba-btn{
        font-size: 20px;
    }
    .ba-courses{
        padding: 70px 40px;
    }
    .ba-courses h3{
        font-size: 35px;
    }
    .ba-courses img{
        height: auto;
        width: auto;
    }
    .ba-courses-text h4{
        font-size: 25px;
    }
    .ba-courses-text p{
        font-size: 15px;
    }
    .ba-dip-btn{
        font-size: 14px;
    }

    .de-header-title2 h1{
        padding: 0px 35px 10px 35px;
        font-size: 45px;
    }
    .de-header-title2 h2{
        font-size: 30px;
    }
    .de-btn{
        font-size: 20px;
    }
    .de-courses{
        padding: 70px 40px;
    }
    .de-courses h3{
        font-size: 35px;
    }
    .de-courses img{
        height: auto;
        width: auto;
    }
    .de-courses-text h4{
        font-size: 25px;
    }
    .de-courses-text p{
        font-size: 15px;
    }
    .de-dip-btn{
        font-size: 14px;
    }

    .soe-header-title2 h1{
        padding: 0px 35px 10px 35px;
        font-size: 45px;
    }
    .soe-header-title2 h2{
        font-size: 30px;
    }
    .soe-btn{
        font-size: 20px;
    }
    .soe-courses{
        padding: 70px 40px;
    }
    .soe-courses h3{
        font-size: 35px;
    }
    .soe-courses img{
        height: auto;
        width: auto;
    }
    .soe-courses-text h4{
        font-size: 25px;
    }
    .soe-courses-text p{
        font-size: 15px;
    }
    .soe-dip-btn{
        font-size: 14px;
    }

    .hms-header-title2 h1{
        padding: 0px 35px 10px 35px;
        font-size: 45px;
    }
    .hms-header-title2 h2{
        font-size: 30px;
    }
    .hms-btn{
        font-size: 20px;
    }
    .hms-courses{
        padding: 70px 40px;
    }
    .hms-courses h3{
        font-size: 35px;
    }
    .hms-courses img{
        height: auto;
        width: auto;
    }
    .hms-courses-text h4{
        font-size: 25px;
    }
    .hms-courses-text p{
        font-size: 15px;
    }
    .hms-dip-btn{
        font-size: 14px;
    }

    .hs-header-title2 h1{
        padding: 0px 35px 10px 35px;
        font-size: 45px;
    }
    .hs-header-title2 h2{
        font-size: 30px;
    }
    .hs-btn{
        font-size: 20px;
    }
    .hs-courses{
        padding: 70px 40px;
    }
    .hs-courses h3{
        font-size: 35px;
    }
    .hs-courses img{
        height: auto;
        width: auto;
    }
    .hs-courses-text h4{
        font-size: 25px;
    }
    .hs-courses-text p{
        font-size: 15px;
    }
    .hs-dip-btn{
        font-size: 14px;
    }

    .fms-header-title2 h1{
        padding: 0px 35px 10px 35px;
        font-size: 45px;
    }
    .fms-header-title2 h2{
        font-size: 30px;
    }
    .fms-btn{
        font-size: 20px;
    }
    .fms-courses{
        padding: 70px 40px;
    }
    .fms-courses h3{
        font-size: 35px;
    }
    .fms-courses img{
        height: auto;
        width: auto;
    }
    .fms-courses-text h4{
        font-size: 25px;
    }
    .fms-courses-text p{
        font-size: 15px;
    }
    .fms-dip-btn{
        font-size: 14px;
    }

    .ict-header-title2 h1{
        padding: 0px 35px 10px 35px;
        font-size: 45px;
    }
    .ict-header-title2 h2{
        font-size: 30px;
    }
    .ict-btn{
        font-size: 20px;
    }
    .ict-courses{
        padding: 70px 40px;
    }
    .ict-courses h3{
        font-size: 35px;
    }
    .ict-courses img{
        height: auto;
        width: auto;
    }
    .ict-courses-text h4{
        font-size: 25px;
    }
    .ict-courses-text p{
        font-size: 15px;
    }
    .ict-dip-btn{
        font-size: 14px;
    }

    .lsct-header-title2 h1{
        padding: 0px 35px 10px 35px;
        font-size: 45px;
    }
    .lsct-header-title2 h2{
        font-size: 30px;
    }
    .lsct-btn{
        font-size: 20px;
    }
    .lsct-courses{
        padding: 70px 40px;
    }
    .lsct-courses h3{
        font-size: 35px;
    }
    .lsct-courses img{
        height: auto;
        width: auto;
    }
    .lsct-courses-text h4{
        font-size: 25px;
    }
    .lsct-courses-text p{
        font-size: 15px;
    }
    .lsct-dip-btn{
        font-size: 14px;
    }
}

@media (max-width: 450px){
    .header-title img{
        width: 350px;
    }

    .ba-header-title2 h1{
        font-size: 35px;
    }
    .ba-header-title2 h2{
        font-size: 25px;
    }

    .de-header-title2 h1{
        font-size: 35px;
    }
    .de-header-title2 h2{
        font-size: 25px;
    }

    .soe-header-title2 h1{
        font-size: 35px;
    }
    .soe-header-title2 h2{
        font-size: 25px;
    }

    .hms-header-title2 h1{
        font-size: 35px;
    }
    .hms-header-title2 h2{
        font-size: 25px;
    }

    .hs-header-title2 h1{
        font-size: 35px;
    }
    .hs-header-title2 h2{
        font-size: 25px;
    }

    .fms-header-title2 h1{
        font-size: 35px;
    }
    .fms-header-title2 h2{
        font-size: 25px;
    }

    .ict-header-title2 h1{
        font-size: 35px;
    }
    .ict-header-title2 h2{
        font-size: 25px;
    }

    .lsct-header-title2 h1{
        font-size: 35px;
    }
    .lsct-header-title2 h2{
        font-size: 25px;
    }
}

@media (max-width: 345px){
    .header-title img{
        width: 250px;
    }
    .header-title p{
        font-size: 16px;
    }
    .sch-btn{
        font-size: 14px;
    }

    .ba-header-title2 h1{
        font-size: 25px;
    }
    .ba-header-title2 h2{
        font-size: 15px;
    }
    .ba-btn{
        font-size: 15px;
    }

    .de-header-title2 h1{
        font-size: 25px;
    }
    .de-header-title2 h2{
        font-size: 15px;
    }
    .de-btn{
        font-size: 15px;
    }

    .soe-header-title2 h1{
        font-size: 25px;
    }
    .soe-header-title2 h2{
        font-size: 15px;
    }
    .soe-btn{
        font-size: 15px;
    }

    .hms-header-title2 h1{
        font-size: 25px;
    }
    .hms-header-title2 h2{
        font-size: 15px;
    }
    .hms-btn{
        font-size: 15px;
    }

    .hs-header-title2 h1{
        font-size: 25px;
    }
    .hs-header-title2 h2{
        font-size: 15px;
    }
    .hs-btn{
        font-size: 15px;
    }

    .fms-header-title2 h1{
        font-size: 25px;
    }
    .fms-header-title2 h2{
        font-size: 15px;
    }
    .fms-btn{
        font-size: 15px;
    }

    .ict-header-title2 h1{
        font-size: 25px;
    }
    .ict-header-title2 h2{
        font-size: 15px;
    }
    .ict-btn{
        font-size: 15px;
    }

    .lsct-header-title2 h1{
        font-size: 25px;
    }
    .lsct-header-title2 h2{
        font-size: 15px;
    }
    .lsct-btn{
        font-size: 15px;
    }
}