*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav #navbarNav{
    display: flex;
    justify-content: end;
}

/*Home Page*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/ngee-ann-poly.jfif);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header-title p{
    color: white;
    font-size: 28px;
    letter-spacing: 1.5px;
    padding-bottom: 20px;
}
.sch-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
}
.sch-btn:hover{
    text-decoration: none;
    color: black;
    background-color: white;
}

.schs{
    width: 100%;
    padding: 70px 0;
    text-align: center;
    margin: auto;
    background: rgb(233, 233, 246);
}
.schs h2{
    font-size: 52px;
}
.sch-box{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.sch-col{
    flex-basis: 38%;
    box-sizing: border-box;
}
.sch-col-inner img{
    width: 88%;
    margin: 10%;
    border-radius: 10px;
    transition: 0.5s;
}
.sch-col-inner-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ba-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(178,8,55)
}
#de-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(194,213,0)
}
#soe-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(0,138,174)
}
#hms-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(253,187,47)
}
#hs-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(4,121,53)
}
#fms-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(172,32,141)
}
#ict-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(114,34,131)
}
#lsct-img:hover{
    box-shadow: 15px 15px 0px 0px rgb(250,66,56)
}

.sch-quizbox{
    background-color: rgb(140,138,164);
    width: 100%;
    padding: 20px 0px 50px;
    text-align: center;
}
.sch-quizbox h2{
    font-size: 52px;
    padding: 20px 20px;
}
.quiz-btn{
    color: black;
    display: inline-block;
    text-decoration: none;
    background: white;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 3px;
}
.quiz-btn:hover{
    text-decoration: none;
    color: black;
    box-shadow: 10px 10px 0px 0px rgb(194, 193, 221)
}

/*BA PAGE*/
.ba-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(78, 87, 107, 0.7),rgba(3, 9, 34, 0.7)),url(images/BA/ba-sch.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.ba-header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.ba-header-title2{
    background: white;
    color: #d20a0d;
    box-shadow: 8px 8px 0px 0px #d20a0d;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.ba-header-title2 h1{
    padding: 0px 15px 10px 15px;
    font-size: 55px;
}
.ba-header-title2 h2{
    padding: 10px 0px 0px 0px;
    font-size: 40px;
}
.ba-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 5px;
}
.ba-btn:hover{
    text-decoration: none;
    color: #d20a0d;
    background-color: white;
    box-shadow:0px 8px 0px 0px #d20a0d;
}

.ba-courses{
    background-color: rgb(244,244,244);
    width: 100%;
    padding: 70px 100px;
    text-align: center;
    margin: auto;
}
.ba-courses h3{
    color: #d20a0d;
    font-family: 'Roboto', 'sans-serif';
    font-size: 40px;
    padding-bottom: 50px;
}
.ba-courses-box{
    display: flex;
    flex-direction: column;
}
.ba-courses-item{
    display: flex;
    flex-basis: 28%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 30px;
    box-sizing: border-box;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 50px;
}
.ba-courses img{
    height: 250px;
    border-radius: 10px;
}
.ba-courses-text{
    padding-left: 30px;
}
.ba-courses-text h4{
    font-size: 30px;
    padding-bottom: 10px;
}
.ba-courses-text p{
    font-size: 18px;
}
.ba-courses-item:hover{
    background-color: white;
    box-shadow:15px 15px 0px 0px #d20a0d;
}
.ba-dip-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    background: #d20a0d;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 10px;
}
.ba-dip-btn:hover{
    color: white;
}

/*DE PAGE*/
.de-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(78, 87, 107, 0.7),rgba(3, 9, 34, 0.7)),url(images/DE/de-sch.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.de-header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.de-header-title2{
    background: white;
    color: #92d162;
    box-shadow: 8px 8px 0px 0px #92d162;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.de-header-title2 h1{
    padding: 0px 15px 10px 15px;
    font-size: 55px;
}
.de-header-title2 h2{
    padding: 10px 0px 0px 0px;
    font-size: 40px;
}
.de-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 5px;
}
.de-btn:hover{
    text-decoration: none;
    color: #92d162;
    background-color: white;
    box-shadow:0px 8px 0px 0px #92d162;
}

.de-courses{
    background-color: rgb(244,244,244);
    width: 100%;
    padding: 70px 100px;
    text-align: center;
    margin: auto;
}
.de-courses h3{
    color: #92d162;
    font-family: 'Roboto', 'sans-serif';
    font-size: 40px;
    padding-bottom: 50px;
}
.de-courses-box{
    display: flex;
    flex-direction: column;
}
.de-courses-item{
    display: flex;
    flex-basis: 28%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 30px;
    box-sizing: border-box;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 50px;
}
.de-courses img{
    height: 250px;
    border-radius: 10px;
}
.de-courses-text{
    padding-left: 30px;
}
.de-courses-text h4{
    font-size: 30px;
    padding-bottom: 10px;
}
.de-courses-text p{
    font-size: 18px;
}
.de-courses-item:hover{
    background-color: white;
    box-shadow:15px 15px 0px 0px #92d162;
}
.de-dip-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    background: #92d162;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 10px;
}
.de-dip-btn:hover{
    color: white;
}

/*HS PAGE*/
.hs-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(78, 87, 107, 0.7),rgba(3, 9, 34, 0.7)),url(images/HS/hs-sch.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.hs-header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hs-header-title2{
    background: white;
    color: #007f78;
    box-shadow: 8px 8px 0px 0px #007f78;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.hs-header-title2 h1{
    padding: 0px 15px 10px 15px;
    font-size: 55px;
}
.hs-header-title2 h2{
    padding: 10px 0px 0px 0px;
    font-size: 40px;
}
.hs-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 5px;
}
.hs-btn:hover{
    text-decoration: none;
    color: #007f78;
    background-color: white;
    box-shadow:0px 8px 0px 0px #007f78;
}

.hs-courses{
    background-color: rgb(244,244,244);
    width: 100%;
    padding: 70px 100px;
    text-align: center;
    margin: auto;
}
.hs-courses h3{
    color: #007f78;
    font-family: 'Roboto', 'sans-serif';
    font-size: 40px;
    padding-bottom: 50px;
}
.hs-courses-box{
    display: flex;
    flex-direction: column;
}
.hs-courses-item{
    display: flex;
    flex-basis: 28%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 30px;
    box-sizing: border-box;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 50px;
}
.hs-courses img{
    height: 250px;
    border-radius: 10px;
}
.hs-courses-text{
    padding-left: 30px;
}
.hs-courses-text h4{
    font-size: 30px;
    padding-bottom: 10px;
}
.hs-courses-text p{
    font-size: 18px;
}
.hs-courses-item:hover{
    background-color: white;
    box-shadow:15px 15px 0px 0px #007f78;
}
.hs-dip-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    background: #007f78;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 10px;
}
.hs-dip-btn:hover{
    color: white;
}

/*FMS PAGE*/
.fms-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(78, 87, 107, 0.7),rgba(3, 9, 34, 0.7)),url(images/FMS/fms-sch.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.fms-header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.fms-header-title2{
    background: white;
    color: #b43ad6 ;
    box-shadow: 8px 8px 0px 0px #b43ad6 ;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.fms-header-title2 h1{
    padding: 0px 15px 10px 15px;
    font-size: 55px;
}
.fms-header-title2 h2{
    padding: 10px 0px 0px 0px;
    font-size: 40px;
}
.fms-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 5px;
}
.fms-btn:hover{
    text-decoration: none;
    color: #b43ad6 ;
    background-color: white;
    box-shadow:0px 8px 0px 0px #b43ad6 ;
}

.fms-courses{
    background-color: rgb(244,244,244);
    width: 100%;
    padding: 70px 100px;
    text-align: center;
    margin: auto;
}
.fms-courses h3{
    color: #b43ad6 ;
    font-family: 'Roboto', 'sans-serif';
    font-size: 40px;
    padding-bottom: 50px;
}
.fms-courses-box{
    display: flex;
    flex-direction: column;
}
.fms-courses-item{
    display: flex;
    flex-basis: 28%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 30px;
    box-sizing: border-box;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 50px;
}
.fms-courses img{
    height: 250px;
    border-radius: 10px;
}
.fms-courses-text{
    padding-left: 30px;
}
.fms-courses-text h4{
    font-size: 30px;
    padding-bottom: 10px;
}
.fms-courses-text p{
    font-size: 18px;
}
.fms-courses-item:hover{
    background-color: white;
    box-shadow:15px 15px 0px 0px #b43ad6 ;
}
.fms-dip-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    background: #b43ad6 ;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 10px;
}
.fms-dip-btn:hover{
    color: white;
}

/*ICT PAGE*/
.ict-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(78, 87, 107, 0.7),rgba(3, 9, 34, 0.7)),url(images/ICT/ict-sch.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.ict-header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.ict-header-title2{
    background: white;
    color: #87458b ;
    box-shadow: 8px 8px 0px 0px #87458b ;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.ict-header-title2 h1{
    padding: 0px 15px 10px 15px;
    font-size: 55px;
}
.ict-header-title2 h2{
    padding: 10px 0px 0px 0px;
    font-size: 40px;
}
.ict-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 5px;
}
.ict-btn:hover{
    text-decoration: none;
    color: #87458b ;
    background-color: white;
    box-shadow:0px 8px 0px 0px #87458b ;
}

.ict-courses{
    background-color: rgb(244,244,244);
    width: 100%;
    padding: 70px 100px;
    text-align: center;
    margin: auto;
}
.ict-courses h3{
    color: #87458b ;
    font-family: 'Roboto', 'sans-serif';
    font-size: 40px;
    padding-bottom: 50px;
}
.ict-courses-box{
    display: flex;
    flex-direction: column;
}
.ict-courses-item{
    display: flex;
    flex-basis: 28%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 30px;
    box-sizing: border-box;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 50px;
}
.ict-courses img{
    height: 250px;
    border-radius: 10px;
}
.ict-courses-text{
    padding-left: 30px;
}
.ict-courses-text h4{
    font-size: 30px;
    padding-bottom: 10px;
}
.ict-courses-text p{
    font-size: 18px;
}
.ict-courses-item:hover{
    background-color: white;
    box-shadow:15px 15px 0px 0px #87458b ;
}
.ict-dip-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    background: #87458b ;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 10px;
}
.ict-dip-btn:hover{
    color: white;
}

/*LSCT PAGE*/
.lsct-header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(78, 87, 107, 0.7),rgba(3, 9, 34, 0.7)),url(images/LSCT/lsct-sch.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.lsct-header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.lsct-header-title2{
    background: white;
    color: #f18560  ;
    box-shadow: 8px 8px 0px 0px #f18560  ;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.lsct-header-title2 h1{
    padding: 0px 15px 10px 15px;
    font-size: 55px;
}
.lsct-header-title2 h2{
    padding: 10px 0px 0px 0px;
    font-size: 40px;
}
.lsct-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 25px;
    transition: 0.5s;
    border-radius: 5px;
}
.lsct-btn:hover{
    text-decoration: none;
    color: #f18560  ;
    background-color: white;
    box-shadow:0px 8px 0px 0px #f18560  ;
}

.lsct-courses{
    background-color: rgb(244,244,244);
    width: 100%;
    padding: 70px 100px;
    text-align: center;
    margin: auto;
}
.lsct-courses h3{
    color: #f18560  ;
    font-family: 'Roboto', 'sans-serif';
    font-size: 40px;
    padding-bottom: 50px;
}
.lsct-courses-box{
    display: flex;
    flex-direction: column;
}
.lsct-courses-item{
    display: flex;
    flex-basis: 28%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 30px 30px;
    box-sizing: border-box;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 50px;
}
.lsct-courses img{
    height: 250px;
    border-radius: 10px;
}
.lsct-courses-text{
    padding-left: 30px;
}
.lsct-courses-text h4{
    font-size: 30px;
    padding-bottom: 10px;
}
.lsct-courses-text p{
    font-size: 18px;
}
.lsct-courses-item:hover{
    background-color: white;
    box-shadow:15px 15px 0px 0px #f18560  ;
}
.lsct-dip-btn{
    color: white;
    display: inline-block;
    text-decoration: none;
    background: #f18560  ;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 10px;
}
.lsct-dip-btn:hover{
    color: white;
}